
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Редактирование блога{% endblock%}

{% block body %}
    <header>
        <h1>Создание/редактирование блога</h1>
    </header>
    
    {{ form_start(form, { 'action': path('BloggerBlogBundle_blog_create', { 'blog_id' : blog_id }), 'method': 'POST', 'attr': {'class': 'blogger'} }) }}
    {{ form_errors(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form) }}

    <input type="submit" value="Сохранить" />

{% endblock %}
