
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}О блоге{% endblock%}

{% block body %}
    <header>
        <h1>О блоге</h1>
    </header>
    <article>
        <p>Пример блога на библиотеке Symfony.</p>
    </article>
{% endblock %}
