
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}О блоге{% endblock%}

{% block body %}
    <header>
        <h1>Админка</h1>
    </header>
    <article>
        <p>Просто админка.</p>
    </article>
{% endblock %}
